<div class="text-center mt-5 loadingMessage"><h2>{{ loadingMessage }}</h2></div>
<div class="spinner-border" role="status">
    <span class="visually-hidden"></span>
</div>

<script>
    setTimeout(function (){
        document.location.href="/";
    }, 1500)
</script>