.mainContent{
    margin: 50px;
}
.exportContainer{
    margin-bottom: 20px;
}


.dashboardMain{
    margin-top: 100px;

}
.createNewForm{
    background: #e6e6e6;
    padding: 40px;
    margin: auto;
}
.card-title{
    font-size: 25px;
}
#worktimeContent,#objects,#employers{
    width:100%!important;
}