.card-body{
    background: #f4ebe8;
}
body{
    background-color: ivory;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.navbar{
    background-color: ivory;
}
.employerBox{
    margin-bottom: 2em;
}
.employerContainer{
    margin-top: 2em;
    margin-bottom: 2em;
}
.card-title{
    text-align: center;
}
.card{
    width:100%!important;
}
.time{
    text-align: center!important;
}
.offcanvas-end{
    width: 100%!important;
}

.userCheckInWindow{
    background-color: #d2c595;
}
.checkin svg,.pause svg,.checkout svg{
    transition: 0.5s;
}
.checkin svg{
    color:#7B927D;
}
.pause svg{
    color:#6C7691;
    transform: scale(0.85);
}
.checkout svg{
    color:#916C79;
}

.checkin svg:hover{
    transform: scale(0.9);
}
.pause svg:hover{
    transform: scale(0.75);
}
.checkout svg:hover{
    transform: scale(0.9);
}

.exitCheckin{
    width: 3rem;
    color:#515151;
    transition: 0.5s;
}

.exitCheckin:hover{
    transform: scale(0.9);
}
.userTimeInfo{
    margin-top: 4vh!important;
    margin-bottom: 2vh;
    padding: 10px;
    border-radius: 20px;
    background-color: #e7d9a6;
}
.checkinGreeting{
    font-size: 4rem;
    color: #515151;
}
.checkInSubInfo{
    font-style: italic;
    color: #515151;
}
.error{
    color: #8f4a57;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.spinner-border{
    width: 10rem;
    height: 10rem;
    margin:auto;
    color:#7B927D;
}
.checkInActionError p{
    text-align: center;
    font-size: 1.5em;
}


.pinNumbers {
    margin: auto;
}

.pinNumbers svg {
    width: 2.5vw;
    height: 2.5vw;
    transform: scale(1);
    margin-bottom: 8px;
}

.pinNumbers td {
    /*height: 50px!important;*/
    /*width: 50px!important;*/
    width: calc(100% / 3);
    border-color: rgba(128, 128, 128, 0.06);
    font-size: 3vw;
    user-select: none;
    transition: 0.4s;
}

.pinNumbers td:hover {
    background: rgba(211, 211, 211, 0.37);
}

.pinEntered{
    margin-bottom: 5vw;
}
.pinEntered td, tr {
    border: none;
}
.pinEntered td{
    user-select: none;
    font-size: 3vw;
    font-weight: 600;
}
.pinEntered td input{
    width: 25%;
    border:none;
}
