{% extends 'base-admin.html.twig' %}
{% use "admin/menu.html.twig" with menu as base_menu %}

{% block body %}

    {% block sidebar %}
        {{ block('base_menu') }}
    {% endblock %}

    {% block main_content %}
        <div class="mainContent">
            <h2>Arbeitszeiten</h2>
            <div class="row">
                <div class="col-12 col-lg-2">
                    <select class="form-select" aria-label="Default select example" id="objectSelect">
                        <option value="0">Objekt auswählen</option>
                        {% for object in allObjects %}
                            <option class="companyObject" value="{{ object['id']}}">{{ object['street'] }} {{ object['number'] }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="col-12 col-lg-10" id="workTimeTableContainer">
                    <div class="alert alert-info" role="alert">
                        <h5>Wähle ein Objekt aus, um eine Arbeitszeit-Übersicht zu erstellen</h5>
                    </div>

                </div>
            </div>



        </div>

        <script src="js/worktime.js" ></script>
    {% endblock %}
{% endblock %}