<!DOCTYPE html>
<html>
    <head>
        <link rel="manifest" href="manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/img/stampulogo.svg">
        <meta name="theme-color" content="#eda919">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}Zeiterfassung - Vela{% endblock %}</title>
        {% block stylesheets %}
            <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="css/style.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="jquery/jquery.js" ></script>
            <script src="jquery/jquery-ui.js" ></script>
            <script src="js/main.js" ></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script src="bootstrap/js/bootstrap.bundle.min.js" ></script>

        <script type="text/javascript">
            if ('serviceWorker' in navigator) {
                console.log("Will the service worker register?");
                navigator.serviceWorker.register('service-worker.js')
                    .then(function(reg){
                        console.log("Yes, it did.");
                    }).catch(function(err) {
                    console.log("No it didn't. This happened:", err)
                });
            }
        </script>

    </body>
</html>
